@if (challenge(); as c) {
  <div class="challenge-detail">
    <div class="challenge-detail__header">
      <h2>{{ c.title }}</h2>
      <app-status-badge [status]="c.status" />
      <a mat-button [routerLink]="['/challenges', c.id, 'edit']">Edit Title</a>
    </div>

    <p class="challenge-detail__raw-notes">{{ c.rawNotes }}</p>

    <app-status-stepper [challenge]="c" (challengeUpdated)="onChallengeUpdated($event)" />

    @switch (currentPanel()) {
      @case ('problem-statement') {
        <app-problem-statement-panel [challenge]="c" (challengeUpdated)="onChallengeUpdated($event)" />
      }
      @case ('solution-options') {
        <app-solution-options-panel [challenge]="c" (challengeUpdated)="onChallengeUpdated($event)" />
      }
    }
  </div>
} @else if (loadFailed()) {
  <div class="challenge-detail__error">
    <p>Challenge not found.</p>
    <a mat-raised-button color="primary" routerLink="/challenges">Back to challenges</a>
  </div>
} @else {
  <mat-spinner diameter="32" />
}
